
/* Style login page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  color: white;
}
.input-group {
  position: relative;
  margin-bottom: 20px;
}
.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
}
.input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  background: #333;
  border: none;
  border-radius: 5px;
  color: white;
}
.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
.google-login {
  margin-top: 10px;
  text-align: center;
  color: #00BCD4;
  cursor: pointer;
}
